<div class="container p-2">
  <h1>Dashboard</h1>
</div>

 <% @bookings.each do |booking| %>
    <%= booking.start_date %>
      <%end%>

<br></br>

<button class="edit-delete-button" type="button">
  blablabla

<button class="edit-delete-button" type="button">
  blablabla

<br></br>

<button class="edit-delete-button" type="button">
  blablabla

<button class="edit-delete-button" type="button">
  blablabla
