// Specific CSS for your home-page

.btn{
  background-color: $pink-color ;
  color: white;
  border-color: $pink-hover;
}

.home-h1{
  font-weight: 600;
}
.btn:hover{
  background-color: $pink-hover;
  color: white;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(244, 109, 205, 0.6);
}

.btn:focus {
  background-color: $pink-color;
  color: white;
}

.form-control:focus {
  border-color: $pink-color;
  box-shadow: inset 0 5px 5px rgba(0, 0, 0, 0.075), 0 0 8px rgba(244, 109, 205, 0.6);
}

.banner-home{
  position: relative;
  width: 100%;
  height: 50vh;
  background: url(https://images.unsplash.com/photo-1604762524889-3e2fcc145683?crop=entropy&cs=tinysrgb&fm=jpg&ixlib=rb-1.2.1&q=80&raw_url=true&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=871);
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
}

.home-search{
  width: 400px;
}

.header-text {
  color: white;
}

.box-area{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  padding-top: 2.5em;
  padding-bottom: 2.5em;
}
.single-box{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: initial;
  width: 30%;
  min-width: 360px;
  height: auto;
  border-radius: 4px;
  background: $pink-color;
  text-align: center;
  margin: 20px;
  padding: 20px;
  transition: 0.3s;
}
.img-area{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 120px;
  border: 6px solid #ddd;
  border-radius: 50%;
  margin-bottom: 10px;
  padding: 20px;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center center;
}
.single-box:nth-child(1) .img-area{
  background-image: url(https://images.unsplash.com/photo-1623173508476-9883063f904b?crop=entropy&cs=tinysrgb&fm=jpg&ixlib=rb-1.2.1&q=80&raw_url=true&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870) ;
}

.single-box:nth-child(2) .img-area{
  background-image: url(https://images.unsplash.com/photo-1500999753436-5de4f76353f5?crop=entropy&cs=tinysrgb&fm=jpg&ixlib=rb-1.2.1&q=60&raw_url=true&ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8cGVvcGxlJTIwcGxhbnRzfGVufDB8MHwwfHw%3D&auto=format&fit=crop&w=400) ;
}

.single-box:nth-child(3) .img-area{
  background-image: url(https://images.unsplash.com/photo-1517024785852-498ab0c02de5?crop=entropy&cs=tinysrgb&fm=jpg&ixlib=rb-1.2.1&q=80&raw_url=true&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=861) ;
}
.header-text {
  font-size: 24px;
  font-weight: 500;
  line-height: 48px;
}
.img-text{
  padding-top: 25px;
  color: white;
}
.img-text p{
  font-size: 15px;
  font-weight: 400;
  line-height: 30px;
}

.single-box:hover {
  background-color: #9ABCA7;
  color: white;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(244, 109, 205, 0.6);
}
