<div class="modal fade" id="booking_modal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content booking-confirmation__box">
          <%# <img class="booking-confirmation__gif-confirm" src="gif-confirmation-01.gif"> %>
          <%= image_tag "gif-confirmation-01.gif", class: "booking-confirmation__gif-confirm" %>
          <div class="booking-confirmation__title">Congratulations!<br>You just booked this plant!</div>
          <%= image_tag "gif-plant-01.gif", class: "booking-confirmation__gif-plant" %>
    </div>
  </div>
</div>
