<h1>>Booking a Plant!</h1>

<div class="container">
  <div class="row">
    <div class="col-6">
      <%= simple_form_for ([@plant, @booking]) do |r| %>
        <%= r.input :start_date, as: :date, html5: true %>
        <%= r.input :end_date, as: :date, html5: true %>
        <%= r.button :submit, class: 'btn btn-pri mary mt-3'%>
      <% end %>
    </div>
  </div>
</div>
