<h1>>WE ARE IN THE NEW BOOKING CTM</h1>

<div class="container">
  <div class="row">
    <div class="col-6">
      <%= simple_form_for ([@plant, @booking]) do |r| %>
        <%= r.input :start_date, as: :date %>
        <%= r.input :end_date, as: :date %>
        <%= r.button :submit, class: 'btn btn-pri mary mt-3'%>
      <% end %>
    </div>
  </div>
</div>
