<h1>>WE ARE IN THE NEW BOOKING CTM</h1>

<div class="container">
  <div class="row">
    <div class="col-6">
      <%= simple_form_for ([@plant, @booking]) do |r| %>
        <%= r.input :start_date, as: :date, start_year: Date.today.year - 90,
                              end_year: Date.today.year - 12, discard_day: true,
                              order: [:month, :year] %>
        <%= r.button :submit, class: 'btn btn-pri mary mt-3'%>
      <% end %>
    </div>
  </div>
</div>
