

<div class="alert alert-success" role="alert">
  Booked <%= @plant.name%>  from <%= @booking.start_date%> untill <%= @booking.end_date%> succesfully!!!
</div>
<br>
<%= link_to "Go back to the homepage!", root_path %>
