<footer>
  <div class="footer-content">
    <h3>Rent-A-Plant</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae, voluptatem? Ipsa quasi doloremque maxime distinctio id corporis quis dolorem dolor eaque corrupti mollitia consequatur nobis modi, alias assumenda autem deleniti.</p>
    <ul class="socials">
      <li><a href="#"><i class="icon-facebook"></i></a></li>
      <li><a href="#"><i class="icon-twitter"></i></a></li>
      <li><a href="#"><i class="icon-instagram"></i></a></li>
      <li><a href="#"><i class="icon-youtube-play"></i></a></li>
    </ul>
  </div>
  <div class="footer-bottom">
    <p>copyright &copy;2022 Rent-A-Plant. designed by <span>WePick</span></p>
  </div>
</footer>
