<footer>
  <div class="footer-content">
    <h3>Rent-A-Plant</h3>
    <p>This app was made in collaboration with Rails and Bootstrap! <br> The features and components implemented here may not be to your liking. If you do like what you see please follow us on our social media channels  </p>
    <ul class="socials">
      <li><a href="#"><i class="icon-facebook fa-2xl"></i></a></li>
      <li><a href="#"><i class="icon-twitter fa-2xl"></i></a></li>
      <li><a href="#"><i class="icon-instagram fa-2xl"></i></a></li>
      <li><a href="#"><i class="icon-youtube-play fa-2xl"></i></a></li>
    </ul>
  </div>
  <div class="footer-bottom">
    <p>copyright &copy;2022 Rent-A-Plant. designed by <span>WePick</span></p>
  </div>
</footer>
