
<div class="banner-home backgroundimg" style="background-image: linear-gradient(
                                                            180deg,
                                                              rgba(0, 0, 0, 0.4),
                                                              rgba(0, 0, 0, 0.2)),
                                                              url('https://images.unsplash.com/photo-1592212532206-a39d1bad53ea?crop=entropy&cs=tinysrgb&fm=jpg&ixlib=rb-1.2.1&q=80&raw_url=true&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1032')
                                                          ;
                                                          ">
  <h1 class="home-h1">Discover plants in your city!</h1>
  <div class="home-search mt-3 input-group ">
    <input type="search" class="form-control rounded" placeholder="Type your city..." aria-label="Search" aria-describedby="search-addon" />
    <a href="/plants" class="btn btn-outline">Search...</a>
  </div>
</div>
  <div class="box-area">
    <div class="single-box">
      <div class="img-area"></div>
      <div class="img-text">
        <span class="header-text"><strong>Learn how to raise a plant baby</strong></span>
        <p>Have you never taken care of plants before? Always find that you buy new babies, only for them to die a few months later? No problem. Rent-A-Plant allows you to babysit other plants and practice being a parent before you get your own.</p>
      </div>
    </div>
    <div class="single-box">
      <div class="img-area"></div>
      <div class="img-text">
        <span class="header-text"><strong>Connect with plant lovers nearby</strong></span>
        <p> The great thing about renting plants is that it also allows you to meet like-minded plant baby lovers in your area. Making friends and meeting new people is a great benefit of renting plants! Who knows, maybe you'll find your future spouse! </p>
      </div>
    </div>
    <div class="single-box">
      <div class="img-area"></div>
      <div class="img-text">
        <span class="header-text"><strong>Discover different plant species</strong></span>
        <p>Thinking of getting a new plant species that you've never taken care of? Why not rent it first!? Renting plants allows you to see how a plant species behaves and responds to light and water. The owner will always give you valuable knowledge.</p>
      </div>
    </div>
  </div>
