
.booking-area{
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 2.5em;
  margin-left: 5em;
}

.single-booking-box{
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: initial;
  width: 20%;
  min-width: 320px;
  height: auto;
  border-radius: 4px;
  background: white;
  text-align:justify;
  margin: 20px;
  padding: 20px;
  transition: 0.3s;
}

.single-booking-box:hover {
  color: white;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(244, 109, 205, 0.6);
}

.booking-img-area{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 12z;
  height: 200px;
  margin-bottom: 10px;
  padding: 20px;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center;
}

.booking-img-text .header-text{
  padding: 25px;
  color: black;
}

.booking-img-text{
  font-size: 0.8rem;
  line-height: 1.4rem;
  color: black;
}

.btn:hover{
  background-color: $pink-hover;
  color: white;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(244, 109, 205, 0.6);
}

.btn:focus {
  background-color: $pink-color;
  color: white;
}
