
.footer {
  background: #F4F4F4;
  align-items: center;
  height: 100px;
  padding: 0px 50px;
  color: rgba(0,0,0,0.3);
  bottom: 0px;
}
.footer-copyright{
  display: flex;
  justify-content: center;
  color: grey;
  opacity: .4;
  padding: 10px;
}
.footer-links {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 0 auto;
  padding-top: 10px;
}
.footer-links a {
  color: $pink-hover;
  opacity: 0.15;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 1;
}
.footer-copyright span{
  text-transform: uppercase;
  font-weight: 400;
  color: grey;
}
.footer-copyright p{
  font-weight: 200;
  color: grey;
}
