.navbar-lewagon {
  justify-content: space-between;
  background-color: transparent;
  border-bottom: inset;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 35px;
}

// .navbar-nav > .active > a {
//   font-size: 15px;
//   color: green;
// }

.navbar-nav > li{
  padding-left:30px;
  padding-right:30px;
}

a {
  text-decoration: none;
}

a:hover {
font-size: 150%;
}
