
.backgroundimg {
  // height: 100%;
  top: 0px;
  background-size: cover;
  height: 100vh;
}

.notice {
  margin-bottom: 0 !important;
}

h1 {
  font-weight: bold;
  color: white;
}

p {
  color: white;
  font-weight: 300;
}

.inputs-stuff {
  color: white;
}
