.booking-confirmation__box {
  display: flex;
  width: 50vw;
  height: auto;
  min-height: 50vh;
  padding: 1.6em 3.2em;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background-color: #fff;
}

.booking-confirmation__gif-confirm {
  width: 15%;
  margin-bottom: 1.2em;
}

.booking-confirmation__gif-plant {
  width: 30%;
}

.booking-confirmation__title {
  font-size: 1.45em;
  font-weight: 600;
  text-align: center;
}
